@tailwind base;
@tailwind components;
@tailwind utilities;

/* login css start */
@layer components {
  .apple-login-button,
  .google-login-button {
    @apply box-border shadow-[#00000029_0px_10px_36px_0px,#0000000f_0px_0px_0px_1px] cursor-pointer flex justify-center items-center text-[11px] gap-[5px] px-[15px] py-2.5 rounded-[20px] font-nunitoFont;
  }
  .apple-login-button {
    @apply mb-2 text-slate-100 border-2 border-solid hover:border-black bg-black hover:border-transparent hover:bg-slate-100 hover:text-black;
  }
  .google-login-button {
    @apply text-black border-2 border-solid border-[#747474] hover:border-transparent hover:bg-black hover:text-slate-100;
  }
  .apple-icon,
  .google-icon {
    @apply text-xl mb-px;
  }
  .title {
    @apply text-3xl font-bold text-primary;
  }
}
/* login css end */
@layer components {
  .chatbox {
    @apply bg-[#343541] flex flex-col rounded-lg h-[calc(100%-100px)];
  }

  .sender-area {
    @apply bg-[#343541] w-full flex rounded-lg;
  }

  .send-img {
    @apply w-[30px];
  }
  .send-input {
    @apply flex h-10 w-[230px] text-[white] text-ellipsis whitespace-nowrap overflow-hidden ml-[5px] rounded-[7px] border-[none];
    outline: none;
    background: none;
    background: none;
  }
  .send-input::placeholder {
    @apply text-[#828E9E];
  }
  .input-place {
    @apply flex flex-row items-center bg-[#40414F] h-10 w-[280px] gap-[5px] border ml-2.5 mt-[15px] rounded-[7px] border-solid border-[#2E2F3A];
  }
  
}
